*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    background-image: url("Image/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


nav{
    background-color: rgba(0, 0, 0, 0.71);
    backdrop-filter: blur(10px);
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: sticky;
    top: 0%;
    z-index: 2;
}

.nav-opt{
    display: flex;
}

ul li{
    margin-left: 20px;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
ul li a:hover{
    color: aqua;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.579);
}
.card{
    color: white;
    background-color: rgba(255, 255, 255, 0.102);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.135);
    padding: 40px;
    width: 700px;
    text-align: center;
    border-radius: 1rem;
}

.card h1{
    font-size: 40px;
    padding: 20px;
}

.card p{
    font: 18px;
    line-height: 1.8rem;
}

.icon{
    font-size: 1.5rem;
    display: none !important;
}
@Media (max-width: 800px){
    .card{
        width: 300px;
    }
}

@media (max-width : 466px){
    .card{
        width: 200px;
        padding: 45px;
    }
}

@media (max-width : 636px) {
    nav ul{
        display: none !important;
    }
    .icon{
        display: flex !important;
    }
}

@media (max-width : 367px) {
    nav h2{
        font-size: 1.3rem;
    }
}

footer{
    color: white;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.411);
}

.offers-card {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.card2{
    width: 30%;
    padding: 1.5rem;
    margin: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.301);
    transition: 0.2s;
}

.card2:hover{
    transform: scale(1.02);
    border: 1px solid aqua;
}
.card2-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}